<div class="main container-fluid">
    <div class="row h-100">
        <div class=" col-sm d-flex flex-column align-items-center justify-content-center text-center">
            <section class="main-left-sction">
                <h2> Full Stack Developer</h2><br />
                <h4> Angular | Java | Spring Boot | SQL</h4>
            </section>
        </div>
        <div class="col-sm">
            <div class="profile-img" title="Resume" (click)="routeTo('resume')">
                <img src="../../../assets/portfolioImg.png" alt="portfolioImg">
            </div>
            <img class="tech-icon angular" title="Angular Projects" src="../../../assets/angularImg.png" alt="angular">
            <img class="tech-icon java" title="Java Projects" src="../../../assets/javaImg.png" alt="java">
            <img class="tech-icon springboot" title="Spring Boot Projects" src="../../assets/springbootImg.png"
                alt="springboot">
            <img class="tech-icon sql" title="SQL Projects" src="../../../assets/sqlImg.png" alt="sql">
        </div>
    </div>
</div>