$background-color: #FFFFFF;
$text-color: black;
$font-style: Calibri;

.app-border-wrapper {
  padding: 0 2vw ;
  background: black;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-layout {
  background: $background-color;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}